/* Colors
 * White: #f4f4f3
 * Black: #4c4a4a
 * Beige: #eeedea
 * Red  : #e43624
 *
 * Fonts
 * Header: Lato Heavy 30pt
 * Body Copy: Lato Regular 16pt
 * SubHead: Lato Regular 16pt
 * Buttons: Lato Regular 14pt
 * Intro Para: Lato Heavy 26pt
 */

html {
  width: 100%;
  margin-left: -8px;
}

body {
  background-color: #f4f4f3;
  color: #4c4a4a;
  font-family: "Lato";
  font-size: 16px;
  width: 100%;
}

div.container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

div.beige {
  background-color: #eeedea;
}

div#bottom-sep {
  background-color: #e43624;
  width: 100%;
  height: 6px;
}

div#intro {
  font-weight: 700;
  font-size: 26px;
  width: 60%;
  float: left;
}

div#introbuttons {
  font-size: 16px;
  width: 33%;
  float: right;
}

div#introbuttons div.centered {
  margin-bottom: 30px;
}

div#introbuttons div.centered button {
  margin-bottom: 10px;
}

div#infographic1 {
  width: 830px;
  padding-top: 100px;
  padding-bottom: 50px;
}

div#infographic2 {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 984px;
}

div#footer {
  width: 40%;
  padding-top: 100px;
  margin-bottom: 250px;
}

div.component-info-left {
  width: 66%;
  display: block;
  float: left;
}

div.component-info-right {
  width: 32%;
  display: block;
  float: right;
}

div.icon-row {
  width: 50%;
}

.text-centered {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

img#logo {
  width: 160px;
  height: 75px;
}

img#eqlogo {
  float: left;
  width: 130px;
  height: 125px;
}

p#whyceno {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p#footertext {
  float: right;
  width: 65%;
}

p + div button {
  margin-top: 20px;
}

button {
  width: 200px;
  height: 64px;
  background-color: #e43624;
  color: #f4f4f3;
  border: none;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 400;
}

a.textlink {
  font-weight: 700;
  text-decoration: underline;
  color: inherit;
}

a.textlink:hover {
  color: inherit;
}

a.textlink:visited {
  color: inherit;
}

.red {
  color: #e43624;
}