body {
  padding: 75px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #17211D;
}

header {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  left: 0;
  right: 0;
  top: -50px;
  z-index: 1;
  position: fixed;
  height: 30px;
  display: block;
  background-color: #313633;
  color: #fff;
  padding: 50px;
  margin-bottom: 10px;
}

header h1 {
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 30px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: #FF3D3D;
}

h2,h3,h4,h5,h6 {
  margin-top: 100px;
}

span.bold {
  font-weight: bold;
}

span.italic {
  font-style: italic;
}

i#hamburger {
  font-size: 28px;
  display: inline;
  float: left;
  padding-right: 32px;
  margin-top: 24px;
  color: #999;
}

nav.table-of-contents {
  margin-top: 40px;
  border-left: 5px solid;
  border-left-color: rgba(255, 61, 61, .65);
  padding-left: 20px;
  display: block;
}

nav.table-of-contents h1 {
  font-size: 15px;
  color: #757575;
  font-weight: 400;
}

nav.table-of-contents ul {
  list-style: none;
  padding-left: 0;
}

nav.table-of-contents ul li {
  font-size: 20px;
  color: #FF3D3D;
  padding-left: 0;
  margin-top: 20px;
  line-height: 20px;
  display: list-item;
}

div#main-container {
  margin-top: 60px;
}

div.grid {
  margin-left: 0;
}

div.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
}

div.hr {
  border: none;
  height: 1px;
  background-color: #DDD;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fg-main {
  color: #313633;
}

.bg-main {
  background-color: #313633;
}

.fg-highlight {
  color: #FF3D3D;
}

.bg-highlight {
  background-color: #FF3D3D;
}