<!doctype html>
<html>
<head>
  <link href="/stylesheets/grid.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
  <title> CeNo </title>
</head>
<body class="lato">
  <div class="container">
    <div style="padding-bottom: 100px;">
      <div id="intro">
        <img id="logo" src="/images/logo_ceno.png" />
        <div>
          <p id="intro">
            CENO IS A PEER-TO-PEER CENSORSHIP CIRCUMVENTION SYSTEM DESIGNED FOR ACCESSING
            WEBSITES FROM THE STRICTEST INTERNET ENVIRONMENTS.  CENO BRIDGES AN ANONYMOUS
            DARKNET WITH THE WEB.
          </p>
        </div>
      </div>
      <div id="introbuttons">
        <div class="text-centered centered">
          <div><a href="https://github.com/equalitie/ceno"><button>GET CENO</button></a></div>
          <div><span class="red">Download the CeNo package</span></div>
          <div>if you live in a heavily censored environment, download the CeNo package</div>
        </div>
        <div class="text-centered centered">
          <div><a href="https://github.com/equalitie/ceno"><button>GIVE CENO</button></a></div>
          <div><span class="red">Set up your own CeNo edge</span></div>
          <div>to help CeNo users bypass censorship</div>
        </div>
      </div>
    </div>
    <div id="infographic1" class="centered">
      <img src="/images/ceno_infographic_01.png" />
    </div>
  </div>
  <div class="beige container">
    <div class="text-centered container">
      <h1> CENO COMPONENTS </h1>
    </div>
    <div class="container">
      <div class="grid">
        <div class="text-centered grid__col grid__col--1-of-5 grid__col--push-1-of-5">
          <img src="/images/icon_cenoclient.png" />
          <h2> CENO CLIENT </h2>
          <p>
            Receives a website request from the user and communicates it to Transport. Displays received website content
          </p>
        </div>
        <div class="text-centered grid__col grid__col--1-of-5 grid__col--push-1-of-5">
          <img src="/images/icon_cenoedge.png" />
          <h2> CENO EDGE </h2>
          <p>
            Retrieves a website and bundles all elements for Storage in Freenet
          </p>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 100px;" class="container">
      <div class="grid">
        <div class="text-centered grid__col grid__col--1-of-5 grid__col--push-1-of-5">
          <img src="/images/icon_storage.png" />
          <h2> STORAGE </h2>
          <p>
            Secure and anonymous cache for bundled websites, distributed on Freenet nodes
          </p>
        </div>
        <div class="text-centered grid__col grid__col--1-of-5 grid__col--push-1-of-5">
          <img src="/images/icon_transport.png" />
          <h2> TRANSPORT </h2>
          <p>
            Communications between CeNo components on Freenet. Requests websites from Edges and bundles from Storage. Delivers to Client
          </p>
        </div>
      </div>
    </div>
  </div>
  <div clss="container">
    <div id="infographic2" class="centered">
      <img src="/images/ceno_infographic_02.png" />
    </div>
  </div>
  <div style="padding-bottom: 100px;" class="beige container">
    <div class="text-centered container">
      <h1> WHY CENO? </h1>
    </div>
    <p id="whyceno">
    Most circumvention systems end up playing cat-and-mouse with the censor - getting unblocked proxy servers to the user before the  blocklists are updated. By design, peer-to-peer networks have an advantage with every participant acting as a proxy for someone else. The protocol can locate information anywhere on the network, without user knoweldge or intervention. CeNo is built on top of Freenet, an anonymous and highly encrypted network for file sharing and storage, designed for censorship resistance. CeNo allows users to request Web pages and store them inside the censored zone. Once a site is inserted into Freenet, it is accessible to every CeNo user. No further requests outside the censored zone are necessary.
    </p>
  </div>
  <div class="container">
    <div class="text-centered container">
      <h1> SECURITY PROPERTIES </h1>
    </div>
    <div style="padding-bottom: 100px;" class="container">
      <div class="grid">
        <div class="text-centered grid__col grid__col--1-of-3">
          <h2> ENCRYPTED TRANSPORT AND STORAGE </h2>
          <p>
            Using a public key infrastructure, all content is encrypted during transit and at rest
          </p>
        </div>
        <div class="text-centered grid__col grid__col--1-of-3">
          <h2> PLAUSIBLE DENIABILITY </h2>
          <p>
            Every file is uniquely encrypted and the keys distributed on the network.
            A node cannot know what information it is storing for the network
          </p>
        </div>
        <div class="text-centered grid__col grid__col--1-of-3">
          <h2> COMPLETE ANONYMITY </h2>
          <p>
            No one knows which content a node is requesting or storing.
            Its impossible to link a node on the network to an IP address
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 100px;" class="beige container">
    <div class="text-centered container">
      <h1> CENO IS BUILT ON </h1>
    </div>
    <div class="container">
      <div class="grid">
        <div class="text-centered grid__col grid__col--1-of-3">
          <h2> GITHUB </h2>
          <p>
            This is an open source project, developed and hosted on GitHub. It will stay that way
          </p>
          <div><a href="https://github.com"><button>VISIT GITHUB</button></a></div>
        </div>
        <div class="text-centered grid__col grid__col--1-of-3">
          <h2> FREENET </h2>
          <p>
            Since 2000, one of the largest anonymous publishing networks with an estimated 100k nodes
          </p>
          <div><a href="https://freenetproject.org"><button>VISIT FREENET</button></a></div>
        </div>
        <div class="text-centered grid__col grid__col--1-of-3">
          <h2> BUNDLER </h2>
          <p>
            A tool to transport websites as inlined static files, with confidentiality and integrity
          </p>
          <div><a href="https://github.com/equalitie/bundler"><button>VISIT BUNDLER</button></a></div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-sep"></div>
  <div id="footer" class="container centered">
    <img id="eqlogo" src="/images/eqlogo.png" />
    <p id="footertext">
      <a class="textlink" href="https://equalit.ie">eQualit.ie</a> develops open and reusable systems with a focus on privacy, online security, and information management. Our goal is to create accessible technology and improve the skill-set needed for defending human rights and freedoms in the digital age.
    </p>
    <div style="margin:15px;"><p class="centered"><a href="mailto:ceno@equalit.ie">Contact Us</a></p></div>
  </div>
  <script src="/javascripts/main.js" type="text/javascript"></script>
</body>
</html>
